/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 223, 223);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes example {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}

.pg_mm_amination {
  animation-name: example;
  animation-duration: 0.2s;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}
/* ------------------------------------ */

.pg_mm_left,
.pg_mm_right,
.pg_mm_mid {
  padding: 5px;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.pg_mm_left {
  float: left;
  width: 20%;
}

.pg_mm_right {
  float: left;
  width: 80%;
}

.pg_mm_scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pg_mm_content_full {
  width: 100%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}

/* ----------------------------------- */
/* Menu */

#pg_mm_header-menu ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 60px;
}

#pg_mm_header-menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 60px;
  line-height: 60px;
  margin-left: 0;
  text-align: center;
}

#pg_mm_header-menu span {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}
#pg_mm_header-menu span:hover {
  border-bottom: solid 2px #dcdcdc;
}

.pg_mm_settings_menu_item {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 35px;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pg_mm_settings_menu_item:hover {
  background-color: none;
  color: #545454;
}

/* ----------------------------------- */
/* Input field */

.pg_mm_search_input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 5px; */
  padding: 5px;
}

.pg_mm_search_input:focus {
  outline: none;
}

/* ----------------------------------- */
/* QuickSearch list */
.pg_mm_list {
  padding: 2px;
}

.pg_mm_trunc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  cursor: text;
}

.pg_mm_list_item {
  margin: 0 0 5px 0;
  border: solid 1px rgb(202, 202, 202);
  padding: 5px;
  border-radius: 5px;
}

.pg_mm_list_item:hover,
.pg_mm_list_item_active {
  border: solid 1px rgb(150, 150, 150);
  box-shadow: 1px 1px 5px 1px rgb(107, 107, 107);
}

.pg_mm_list_item * {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pg_mm_list_item > h3 {
  -webkit-line-clamp: 2;
  font-size: 15px;
  color: rgb(51, 51, 51);
  padding: 2px;
}

.pg_mm_list_item > p {
  font-size: 14px;
}

.pg_mm_list_item > .pg_mm_list_item_info {
  width: 100%;
  margin-top: 5px;
}

.pg_mm_list_item > .pg_mm_list_item_info > span {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  height: 25px;
}

.pg_mm_list_item > .pg_mm_list_item_info > span:nth-child(1) {
  background-color: rgb(218, 218, 218);
  padding: 2px;
}

.pg_mm_list_item > .pg_mm_list_item_info > span:nth-child(2) {
  text-align: right;
  padding: 2px;
}

/* ------------------------------- */
button:hover {
  background-color: rgb(175, 89, 175) !important;
}

button {
  border: none;
  cursor: pointer;
}

/* --------------------------------------- */
/* SubList item */
.pg_mm_sublist_item {
  margin-right: 5px;
  padding: 5px 20px;
  height: 35px;
  line-height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  background-color: #dcdcdc;
  animation-name: example;
  animation-duration: 0.5s;
}

.pg_mm_selected_path_item {
  background-color: #dcdcdc;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  padding: 0 5px;
}

.pg_mm_path_parent {
  height: 41px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  /* background-color: wheat; */
}

/* --------------------------- */

.pg_mm_category_item {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #029ac0;
}

.pg_mm_folder_item {
  height: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  padding-left: 35px;
  margin-right: 5px;
  display: inline-block;
  background-color: #f1f1f1;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://raw.githubusercontent.com/cuongphuong/memo/master/public/icon/folder.png);
}

.pg_mm_folder_item > img {
  margin-top: 5px;
}

.pg_mm_folder_item > span {
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

.pg_mm_loadding {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 10%;
}

.pg_mm_logo {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: calc(100vh - 70%);
  left: calc(100vh - 3%);
  z-index: -1;
  opacity: 0.2;
}

.pg_mm_reload_button {
  position: absolute;
  right: 5px;
  background-color: rgb(123, 235, 205);
  padding: 5px;
  top: 2px;
  cursor: pointer;
  color: rgb(99, 99, 99);
  transition: 0.2s ease-in-out all;
  width: 50px;
  overflow: hidden;
  height: 15px;
  font-size: 12px;
}

.pg_mm_reload_button:hover {
  /* box-shadow: 1px 1px 5px rgb(162, 162, 162); */
  width: 160px;
}

.pg_mm_reload_button:hover span {
  display: inline-block;
}

.pg_mm_list_loadding {
  position: absolute;
  z-index: 2;
  top: 110px;
  left: 50px;
}

.pg_mm_fixed_clearinput {
  position: absolute;
  /* right: 1px; */
  top: 73px;
  z-index: 1;
  cursor: pointer;
  margin-left: -29px;
}