/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 158, 158);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 123, 123);
}

@keyframes example {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}

.pg_mm_amination {
  animation-name: example;
  animation-duration: 0.1s;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}
/* ------------------------------------ */

.pg_mm_left,
.pg_mm_right,
.pg_mm_mid {
  padding: 5px;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.pg_mm_left {
  float: left;
  background-color: #f0edd9;
  width: 20%;
}

.pg_mm_right {
  float: left;
  width: 80%;
}

.pg_mm_scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pg_mm_content_full {
  width: 100%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}

/* ----------------------------------- */
/* Menu */

#pg_mm_header-menu ul {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 60px;
}

#pg_mm_header-menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 60px;
  line-height: 60px;
  margin-left: 0;
  text-align: center;
}

#pg_mm_header-menu span {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}
#pg_mm_header-menu span:hover,
.pg_mm_header-menu_selected {
  background: #ffd6d6;
  color: #333 !important;
}

/* ----------------------------------- */
/* Input field */

.pg_mm_search_input {
  border: solid tomato 1px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 5px; */
  padding: 5px;
}

.pg_mm_search_input:focus {
  outline: none;
  box-shadow: 0.5px 1px 5px 0px tomato;
  color: tomato;
}

/* ----------------------------------- */
/* QuickSearch list */
.pg_mm_list {
  padding: 2px;
}

.pg_mm_trunc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  cursor: text;
}

.pg_mm_list_item {
  margin: 0 0 5px 0;
  border: solid 1px rgb(202, 202, 202);
  padding: 5px;
  border-radius: 5px;
}

.pg_mm_list_item:hover,
.pg_mm_list_item_active {
  border: solid 1px rgb(252, 139, 119);
  box-shadow: 1px 1px 5px 1px rgb(252, 139, 119);
}

.pg_mm_list_item * {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pg_mm_list_item > h3 {
  -webkit-line-clamp: 2;
  font-size: 15px;
  color: rgb(51, 51, 51);
  padding: 2px;
}

.pg_mm_list_item > p {
  font-size: 14px;
}

.pg_mm_list_item > .pg_mm_list_item_info {
  width: 100%;
  margin-top: 5px;
}

.pg_mm_list_item > .pg_mm_list_item_info > span {
  width: 50%;
  display: inline-block;
}

.pg_mm_list_item > .pg_mm_list_item_info > span:nth-child(1) {
  background-color: rgb(218, 218, 218);
  padding: 2px;
  box-sizing: border-box;
}

.pg_mm_list_item > .pg_mm_list_item_info > span:nth-child(2) {
  text-align: right;
  box-sizing: border-box;
}

.pg_mm_list_item > .pg_mm_list_item_info > span:nth-child(2) > span {
  background-color: #ff5100;
  padding: 0px 10px;
  border-radius: 25px;
  color: #fff;
  box-sizing: border-box;
}
/* ------------------------------- */
button {
  background-color: #e58c8a;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(175, 89, 175);
}

/* --------------------------------------- */
/* SubList item */
.pg_mm_sublist_item {
  margin-right: 5px;
  padding: 5px 20px;
  height: 35px;
  line-height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  background-color: #dcdcdc;
  animation-name: example;
  animation-duration: 0.5s;
}

.pg_mm_name_input {
  height: 40px;
  outline: none;
  border: solid tomato 1px;
  box-sizing: border-box;
  position: absolute;
  width: 500px;
}

.pg_mm_selected_path_item {
  background-color: #dcdcdc;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  padding: 0 5px;
}

.pg_mm_path_parent {
  height: 41px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  /* background-color: wheat; */
}

/* --------------------------- */

.pg_mm_category_item {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #029ac0;
}

.pg_mm_folder_item {
  height: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  padding-left: 35px;
  margin-right: 5px;
  display: inline-block;
  background-color: #f1f1f1;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://raw.githubusercontent.com/cuongphuong/memo/master/public/icon/folder.png);
}

.pg_mm_folder_item > img {
  margin-top: 5px;
}

.pg_mm_folder_item > span {
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}
