
.input-wrapper {
    position: relative;
    width: 500px;
    margin: 10px auto;
}

.input-highlight {
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 70px;
    border-top: 2px solid #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 0;
    color: transparent;
    overflow: hidden;
}

input {
    height: 40px;
    width: 100%;
    min-width: 100%;
    padding: 0;
    padding-left: 10px;
    border-radius: 0;
    line-height: 70px;
    background-color: transparent;
    color: #b12900;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #6e1b1b;
    font-weight: 600;
    /* text-align: center; */
}

input:focus+.input-highlight {
    border-top: 2px solid #b12900;
    padding-left: 10px;
}