.pg_mm_view_popup_block {
  width: 100%;
}

.pg_mm_mid {
  position: relative;
}

.pg_mm_loadding {
  margin: 0 auto;
}

.pg_mm_view_popup {
  /* display: none; */
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-left: solid 1px #eee;
  overflow: scroll;
  padding: 0 10px;
  animation-name: open;
  animation-duration: 0.2s;
}

.pg_mm_view_cls_button,
.pg_mm_view_edit_button,
.pg_mm_view_delete_button {
  cursor: pointer;
  position: fixed;
  top: 65px;
  z-index: 2;
  background-color: rgb(169, 169, 169);
  padding: 5px;
  color: rgb(70, 70, 70);
}

.pg_mm_view_cls_button {
  right: 150px;
  background-color: rgb(243, 57, 57);
  color: #fff;
}

.pg_mm_view_edit_button {
  right: 95px;
}

.pg_mm_view_delete_button {
  right: 16px;
}

.pg_mm_view_cls_button:hover {
  background-color: rgb(255, 123, 0);
}

.pg_mm_view_edit_button:hover {
  background-color: rgb(0, 187, 115);
}

.pg_mm_view_delete_button:hover {
  background-color: rgb(255, 0, 0);
}

@keyframes open {
  0% {
    margin-left: 50px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes close {
  0% {
    margin-left: 0px;
    opacity: 1;
    display: block;
  }

  100% {
    margin-left: -50px;
    opacity: 0;
    display: none;
  }
}
