.pg_mm_category_list_main .clear_float {
  content: "";
  clear: both;
}

.pg_mm_category_list_main dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pg_mm_category_list_main .section-inner {
  padding: 0 15px;
  background: #fff;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 2px 1px rgb(0 0 0 / 8%);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 1px rgb(0 0 0 / 8%);
  margin-top: 10px;
}

.pg_mm_category_list_main h3.hd {
  border-bottom: solid 1px #dcdcdc;
  padding: 5px 0px;
  margin: 5px 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.pg_mm_category_list_main .link-list {
  display: block;
  margin-inline-start: 40px;
  width: 100%;
  padding: 5px 0px;
  margin: 5px 0px;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  min-height: 30px;
}

.pg_mm_category_list_main .link-list:nth-last-child(1) {
  border-bottom: none;
}

.pg_mm_category_list_main .link-list .link-hd {
  display: block;
  padding: 2px 0;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  background-color: #eee;
  /* border-radius: 3px; */
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  float: left;
  cursor: pointer;
  overflow: hidden;
}

.pg_mm_category_list_main .link-list .link-bd {
  margin-left: 170px;
}

.pg_mm_category_list_main .link-list .link-bd>p {
  margin-bottom: 10px;
}

.pg_mm_category_list_main .link-list p,
.pg_mm_category_list_main .link-list .link-bd span {
  display: inline-block;
  font-size: 15px;
  margin: 0;
  margin-right: 20px;
  white-space: nowrap;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.pg_mm_category_list_main .link-list p:hover {
  text-decoration: underline;
}

.pg_mm_category_list_main .link-list .link-bd span {
  /* background-color: #eee; */
  /* border-radius: 3px; */
  color: #333;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://raw.githubusercontent.com/cuongphuong/memo/master/public/icon/folder.png);
  padding-left: 27px;
}

.pg_mm_name_input {
  height: 40px;
  outline: none;
  box-sizing: border-box;
  position: absolute;
  width: 500px;
}

.pg_mm_path_item {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  /* margin-right: 5px; */
}

.pg_mm_path_item::after {
  content: "/";
}

.pg_mm_path_item:nth-last-child(1)::after {
  content: "";
}