/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box
} */

body:not(.ready) {
    overflow: hidden
}

body:not(.ready) .app-nav,
body:not(.ready)>nav,
body:not(.ready) [data-cloak] {
    display: none
}


.markdown-section {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 30px 15px 40px;
    position: relative */
}

.markdown-section>* {
    box-sizing: border-box;
    font-size: inherit
}

.markdown-section>:first-child {
    margin-top: 0 !important
}

.markdown-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 2em 0
}

.markdown-section iframe {
    border: 1px solid #eee
}

.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%
}

.markdown-section th {
    font-weight: 700
}

.markdown-section td,
.markdown-section th {
    border: 1px solid #ddd;
    padding: 6px 13px
}

.markdown-section tr {
    border-top: 1px solid #ccc
}

.markdown-section p.tip {
    border-bottom-right-radius: 2px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative
}

.markdown-section p.tip:before {
    background-color: #f66;
    border-radius: 100%;
    color: #fff;
    content: "!";
    font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px
}

.markdown-section p.tip code {
    background-color: #efefef
}

.markdown-section p.tip em {
    color: #34495e
}

.markdown-section p.warn {
    background: rgba(180, 160, 120, .1);
    border-radius: 2px;
    padding: 1rem
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
    color: #2c3e50;
    font-weight: 600
}

.markdown-section h1 {
    font-size: 2rem;
    margin: 0 0 1rem
}

.markdown-section h2 {
    font-size: 1.75rem;
    margin: 45px 0 .8rem
}

.markdown-section h3 {
    font-size: 1.5rem;
    margin: 40px 0 .6rem
}

.markdown-section h4 {
    font-size: 1.25rem
}

.markdown-section h5 {
    font-size: 1rem
}

.markdown-section h6 {
    color: #777;
    font-size: 1rem
}

.markdown-section figure,
.markdown-section p {
    margin: 1.2em 0
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
    line-height: 1.6rem;
    word-spacing: .05rem
}

.markdown-section ol,
.markdown-section ul {
    padding-left: 1.5rem
}

.markdown-section blockquote {
    border-left: 4px solid var(--theme-color, #b4a078);
    color: #858585;
    margin: 2em 0;
    padding-left: 20px
}

.markdown-section blockquote p {
    /* font-weight: 600; */
    margin-left: 0
}

.markdown-section iframe {
    margin: 1em 0
}

.markdown-section em {
    color: #7f8c8d
}

.markdown-section pre {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    font-size: 0.9rem !important;
    margin: 1.2em 0;
    overflow: auto;
    padding: .5rem 1.4rem !important;
    position: relative;
    word-wrap: normal
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
    color: #998;
    font-style: italic;
    font-weight: normal;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #cf222e;
    /* font-weight: 700; */
}

.hljs-literal,
.hljs-number,
.hljs-tag, .hljs-attr,
.hljs-template-variable,
.hljs-variable {
    color: #0550ae;
}

.hljs-doctag,
.hljs-string {
    color: #0a3069;
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
    color: #8250df;
    /* font-weight: 700; */
}

.hljs-subst {
    font-weight: 400;
}

.hljs-class .hljs-title,
.hljs-type {
    color: #458;
    font-weight: 700;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
    color: navy;
    font-weight: 400;
}

.hljs-link,
.hljs-regexp {
    color: #009926;
}

.hljs-bullet,
.hljs-symbol {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #0086b3;
}

.hljs-meta {
    color: #999;
    font-weight: 700;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}


.markdown-section code:after,
.markdown-section code:before {
    letter-spacing: .05rem
}