.pg_mm_style_settings {
  z-index: 3;
  position: fixed;
  bottom: 50%;
  right: 10px;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  width: 6px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  height: 36px;
  border-left: solid 1px rgb(114, 114, 114);
  border-top: solid 1px rgb(114, 114, 114);
  border-bottom: solid 1px rgb(114, 114, 114);
  transition: 0.2s ease-in-out all;
}

.pg_mm_style_settings:hover {
  width: 90px;
}

.pg_mm_style_settings > span:nth-child(1) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background-color: tomato;
  margin-left: 5px;
}

.pg_mm_style_settings > span:nth-child(2) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background-color: rgb(34, 184, 238);
  margin-left: 5px;
}

.pg_mm_style_settings>span:nth-child(3) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background-color: #ebaecb;
  margin-left: 5px;
}